* {
    margin: 0;
    padding: 0;
}

body {
    height: 200vh;
}

.container {
    width: 60vw;
    height: 100vh;
    background-color: aliceblue;
    margin: 0 20%;
    /* margin-left: 700px; */
    /* position: relative; */
}

.box {
    width: 10vw;
    height: 10vh;
    position: relative;
}

.red {
    background-color: red;
    position: relative;
    top: 70vh;
    left: 40.3vw;
    z-index: 10;

}

.green {
    background-color: green;
    position: absolute;
    left: 89%;
    bottom: 2%;
    z-index: 1;
}

.blue {
    background-color: blue;
    position: fixed;
    left: 89%;
    top: 3%;
}

.purple {
    background-color: purple;
    position: sticky;
    top: 10vh;
    left: 60vw;
}


.filer {
    height: 500vh;
}