* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: min(20vw, 20vh);
  height: min(20vw, 20vh);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "o p a b c"
    "n . . . d"
    "m . . . e"
    "l . . . f"
    "k j i h g";

  animation: scale 6s linear infinite;
  transform-origin: top center;
}

@keyframes scale {
  from{
    scale: 5;
  }
  to{
    scale:1;  
  }
}

.square {
  width: 100%;
  height: 100%;
  grid-area: var(--area);
  box-shadow: inset 0 0 0 min(.8vw, .8vh);
  animation-name: border, opacity;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes border {
  to {
    box-shadow: inset 0 0 0 min(2vw, 2vh);
  }
}

@keyframes opacity {
  0% {
    opacity: calc(1 - var(--i));
  }

  6.7% {
    opacity: calc(2 - var(--i));
  }

  13.4% {
    opacity: calc(3 - var(--i));
  }

  20.1% {
    opacity: calc(4 - var(--i));
  }

  26.8% {
    opacity: calc(5 - var(--i));
  }

  33.5% {
    opacity: calc(6 - var(--i));
  }

  40.2% {
    opacity: calc(7 - var(--i));
  }

  46.9% {
    opacity: calc(8 - var(--i));
  }

  53.6% {
    opacity: calc(9 - var(--i));
  }

  60.3% {
    opacity: calc(10 - var(--i));
  }

  67% {
    opacity: calc(11 - var(--i));
  }

  73.7% {
    opacity: calc(12 - var(--i));
  }

  80.4% {
    opacity: calc(13 - var(--i));
  }

  87.1% {
    opacity: calc(14 - var(--i));
  }

  93.8% {
    opacity: calc(15 - var(--i));
  }

  100.5% {
    opacity: calc(16 - var(--i));
  }

}