@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.outer-page {
    width: 100vw;
    height: 100vh;
    background:linear-gradient(to right bottom, #32f8ff, #0a7cff); 
}

.inner-page {
    width: 300px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 40px;
    background:linear-gradient(to left top,rgb(26, 17, 17), #f8edeb); 
    border-radius: 15px;
    box-shadow: 2px 5px 10px #b0d1d1;
}

.signup-header h1 {
    text-align: center;
    color: #140152;
    font-size: 2.5rem;
}

.signup-header p {
    font-size: 0.8rem;
    color: #ffea00;
    text-align: center;
    padding-bottom: 20px;
}

.signup-body {
    padding: 5px 0;
}

.signup-body p {
    padding: 10px 0;
    color: #140152;
}

.signup-body p label {
    display: block;
    font-weight: bold;
}

.signup-body p input {
    width: 100%;
    padding: 10px 2px;
    border-radius: 5px;
    border: 0.2px solid black;
    /* padding-top: 4px; */
    margin-top: 4px;
}

.signup-body p input[type="submit"] {
    background-color: #42e3e3;
    font-weight: bold;
    border: none;
    transition: 1s;
}


.signup-body p input[type="submit"]:hover {
    background:linear-gradient(to left bottom, #3ef8ff, #1a85ff); 
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.signup-footer p {
    text-align: center;
    color: #ffea00;
}

.signup-footer p a {
    text-decoration: none;
    color: #1a85ff
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right, #ffffff33, #ffffff);
    position: absolute;
}