* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@keyframes Circle {
  to {
    transform: rotate(360deg);
  }
}

div {
  width: 200px;
  height: 200px;
  background-color: teal;
  margin: 20px;
  transition: all 0.5s linear;

}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle1 {
  box-shadow: inset 5px 5px 10px rgb(99, 40, 40);
  animation: Circle 2s 0.2s linear infinite;
}

.buttons {
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: space-between;
  background-color: transparent;
}

button {
  margin: 0px;
  padding: 0 30px;
  border: none;
  background-color: rgba(122, 127, 132, 0.475);
  border-radius: 5px;
  color: white;
  font-weight: bold;


}

button:hover {
  scale: 1.1;
  transition: all 0.2s linear;
}


#myButton {
  padding: 12px 20px;
}


@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}



.bounce {
  animation: bounce 0.3s ease;
}