* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aqua;
}

h1 {
    color: transparent;
    text-shadow: 1px 1px 5px rgb(100, 87, 6);
    text-align: center;
}

/* @media (orientation: portrait){ */
/* @media (width <=600px) {
    body {
        background-color: red;
    }

    h1 {
        color: transparent;
        text-shadow: 2px 2px 3px black;
    }
} */
/* 
@media (max-width:300px) {
    body {
        background-color: gold;
    }

    h1 {
        color: transparent;
        text-shadow: 2px 2px 3px red;
    }
} */
/* 
@media(min-width:500px) {
    body {
        background-color: gold;
    }

    h1 {
        color: transparent;
        text-shadow: 2px 2px 3px red;
    }
}


@media(min-width:800px) {
    body {
        background-color: rgb(7, 17, 198);
    }

    h1 {
        color: transparent;
        text-shadow: 2px 2px 3px red;
    }
}
 */

 
@media((min-width:400px) and (max-width: 700px)) {
    body {
        background-color: rgb(7, 17, 198);
    }

    h1 {
        color: transparent;
        text-shadow: 2px 2px 3px red;
    }
}
 

 