* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 10vh;
    background-color:rgb(13, 133, 184) ;
    position: fixed;
    top: 0;
    z-index: 1; 
}

body{
    font-family: serif;
    line-height: 1.2rem;
    text-align: center;
}

h1{
    text-align: center;
}
hr{
    position: relative;
    left: 25%;
    width:50%;
    height:5px;
    background-color: black;
}
main {
    width: 65%;
    height: 500vh;
    border: 2px solid black;
    position:relative;
    top: 100px;
    left: 8%;
    /* right: 30%; */
    padding: 50px 50px;
}

p{
    text-align: justify;
}

.aside-container {
    width: 100%;
    height: 200vh;
    position: absolute;
    top: 0;
}

aside{
    width: 300px;
    background-color: pink;
    height: 100vh;
    position: sticky;
    top: 15%;
    float: right;
    text-align: justify;
    padding: 20px;
}

.contact{
    width: 80px;
    height: 80px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    border-radius: 40px;
    background-color: red;
    color: green;
}

footer{
    width: 100%;
    height: 100px;
    background-color: black;
}