* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
}

#page1 {
  width: 100%;
  height: 100%;
  background-color: rgba(134, 76, 76, 0.484);
  display: flex;
  justify-content: center;
  align-items: center;

}

#page2 {
  width: 100%;
  height: 100%;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

#page2 h1 {
  background-color: rgb(108, 23, 23);
  padding: 20px;
}

#page2 h2 {
  background-color: green;
  padding: 20px;
}

#page3 {
  width: 100%;
  height: 100%;
  background-color: rgb(14, 170, 22);
  display: flex;
  justify-content: center;
  align-items: center;
}

#box {
  width: 300px;
  height: 300px;
  background-color: rgb(21, 55, 192);
  border-radius: 50%;
}