* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;

}

header {
  width: 100%;
  background-color: black;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  box-shadow: inset 0px 0px 40px red;

}

header div {
  font-size: 20px;
  color: white;
  font-weight: bold;
  box-shadow: 0px 0px 100px white;
  padding: 20px;
  border-radius: 5px;
}

header div span {
  font-size: 22px;
  font-weight: bold;
  color: greenyellow;
}

header .line {
  font-size: 30px;
  color: white;
  font-weight: bolder;
}

.numberContainer {
  margin: auto;
  max-width: 92%;
  width: 100%;
  /* height: 82.5vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 30px 60px;
  flex-wrap: wrap;
}

.circle {
  width: 60px;
  height: 60px;
  background: black;
  border-radius: 50%;
  color: white;
  display: grid;
  place-items: center;
  box-shadow: inset 0px 0px 20px red;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;

}

.finalResult {
  background: black;
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 0px 70px red;
  width: 100vw;
  height: 82.4vh;
}

@keyframes blink {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

.finalResult .gameOver {
  color: red;
  font-size: 40px;
  animation: blink 0.1s linear infinite;
}

.finalResult .result {
  font-size: 25px;
  margin-left: 10px;
  color: greenyellow;
}

.finalResult .restartGame {
  padding: 10px 20px;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  box-shadow: inset 10px 0px 60px black;
}