* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  row-gap: 20px;
  padding: 40px 30px;
}

.heading {
  font-size: 45px;
  background-color: rgb(216, 206, 206);
  padding: 20px 30px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.634);
}

.inputContainer {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#inputColor {
  width: 40%;
  border: 1px solid rgba(0, 0, 0, 0.634);
  padding: 15px 20px;
  font-size: 1.2rem;
  border-radius: 10px;

}

button {
  padding: 15px 20px;
  font-size: 1.4rem;
  border: 1px solid rgba(0, 0, 0, 0.634);
  border-radius: 10px;
  background-color: teal;
  color: white;
  font-weight: 550;
  transition: all 0.3s linear;


}

button:active {
  scale: 0.9;
}

.colorContainer {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  width: 30%;
  font-size: 1.5rem;
}

.colorName {
  font-weight: bold;
  color: red;
}