@import "tailwindcss";

.page {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
  font-size: 40px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}