* {
    box-sizing: border-box;
}

h1 { 
    text-align: center;
    margin-bottom: 40px;
    /* background-color: red; */
    /* color: transparent; */
    text-shadow: 1px 1px 3px red;
}

.container {
    /* margin-top: 30px; */
    /* margin-left: 150px; */
    /* padding: 10px; */
    /* width: 1000px; */
    /* height: 400px; */
    border: 2px solid red;
    display: none;
    /* text-align: center; */
    /* overflow: visible; */
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* overflow: auto; */
    /* font-size: 1.5vw; */
    /* float: left; */

}

.block1 {
    overflow: auto;
}

.p1 {
    border: 3px solid blue;
    font-size: 1.7vw;
    margin-right: 20px;
}

.p2 {
    border: 3px solid green;
    margin-top: 5px;
    font-size: 1.7vw;
    text-align: justify;
}

.image1 {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 40px;
    /* clear: both; */
    /* clear: right; */
}

.image2 {
    float: right;
    margin: 2px;
    margin-left: 40px;
    clear: both;
} 

.container2 {
    width: 400px;
    height: 400px;
    /* border: 2px solid red; */
    background-color: rgb(188, 188, 148);
    margin: 40px;
    position: fixed;
    top: 15vh;
    left: 25vw;
    box-sizing: border-box;
}

.box {
    width: 100px;
    height: 100px;
    border: 3px solid rgb(255, 255, 255);
    overflow: auto;
    color: black;
    font-weight: 900;
}

.box1 {
    background-color: blue;
    /* float: left; */
    /* clear: right; */
    float: right;
}

.box2 {
    background-color: red;
    /* float: left;
    clear: left; */
    float:right;
}

.box3 {
    background-color: green;
    /* float: left;
    clear: left;
*/
    float: right
} 

.box4 {
    background-color: yellow;
    float: left;
}