* {
    padding: 1px;
    margin: 1px;
}
h1{
    font-size: 3rem;
}

h3{
    font-size: 1.78rem;
}

p{
    font-size: 1.5rem;
}

body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    background-image: url('IMAGE/img3.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
     background-color: #432818; */
     /* font-size: 2em; */
}

h1 {
    /* text-align: center;
    color: #e9b44c ;
    background-color: #fdf0d5; */
    /* font-size: 3rem; */
}

main {
    /*  color: white; */
    border: 5px solid red;
    /* width: 50%; */
    width: 50vw;
    /* height: 20vh; */
    /* font-size: 2em; */
}

section {
    border: 5px dashed greenyellow;
    width: 100%;
    width: 50%;
    /* height: 40vh; */
    /* font-size: 2em; */
    /* font-size: 131.2px; */
}